<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>yuyingcai</display-name>
 <context-param>
  <param-name>contextConfigLocation</param-name>
  <param-value>/WEB-INF/config/applicationContext-*.xml</param-value>
 </context-param>
 <filter>
  <filter-name>struts2</filter-name>
  <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>struts2</filter-name>
  <url-pattern>*.do</url-pattern>
 </filter-mapping>
 <listener>
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 </listener>

 <servlet>
  <servlet-name>ajaxPage</servlet-name>
  <servlet-class>com.tycomputer.common.tag.AjaxPageServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>rss</servlet-name>
  <servlet-class>com.tycomputer.common.RSS</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ConnectorServlet</servlet-name>
  <servlet-class>net.fckeditor.connector.ConnectorServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>

 <servlet-mapping>
  <servlet-name>ConnectorServlet</servlet-name>
  <url-pattern>/fckeditor/editor/filemanager/connectors/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ajaxPage</servlet-name>
  <url-pattern>/ajaxPageServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>rss</servlet-name>
  <url-pattern>/rss</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 <error-page>
    <error-code>401</error-code>
    <location>/web/error.html</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/web/error.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/web/error.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/web/error.html</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.NullPointerException</exception-type>
    <location>/web/error.html</location>
  </error-page>
 <jsp-config>
  <taglib>
   <taglib-uri>/dic</taglib-uri>
   <taglib-location>/WEB-INF/tld/tycomputer.tld</taglib-location>
  </taglib>
 </jsp-config>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
